<app-header>
    <li><a [routerLink]="loginData.url">{{loginData.urlHead}}</a></li>
    <li *ngIf="forgotPwd"><a [routerLink]="'/login'">Login</a></li>
    <!-- <li><a routerLink="/register">Register</a></li> -->
    <!-- <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true" v-pre>
            Mathan <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
            <li>
                <a href="">
                    Logout
                </a>
            </li>
        </ul>
    </li> -->
</app-header>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">{{loginData.head}}</div>

                <div class="panel-body">
                    <div [innerHTML]="errMsg" class="error_msg tx_c" ></div>
                    <form class="form-horizontal" (ngSubmit)="onSendData()">

                        <div class="form-group" *ngIf="!isLogin && !forgotPwd">
                            <label for="name" class="col-md-4 control-label">Name</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control" name="name" required autofocus [(ngModel)]="loginData.username">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email" required [(ngModel)]="loginData.email">
                            </div>
                        </div>

                        <div class="form-group" *ngIf="!forgotPwd">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" required [(ngModel)]="loginData.password">
                            </div>
                        </div>

                        <div class="form-group" *ngIf="!isLogin && !forgotPwd">
                            <label for="password-confirm" class="col-md-4 control-label">Confirm Password</label>

                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required [(ngModel)]="loginData.confirmPassword">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    {{loginData.head}}
                                </button>
                                <!--  <a class="btn btn-link" routerLink="/forgot" *ngIf="!forgotPwd && isLogin">
                                    Forgot Your Password?
                                </a> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>